.nav2 {
  display: flex;
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 10;
  /* padding: 8px 16px 8px 524px; */
  justify-content: center;
  align-items: center;
  gap: 508px;
  background: var(--nuetral3);
}

.nav2__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.nav2__container h4{
    font-size: 15px;
    font-weight: 550;
}

.nav2__container > span a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 13px;
    font-weight: 400;
    color: var(--blue);
    text-decoration: underline;
}